.typing-app-title {
  font-size: 2.5rem;
  color: var(--font-color);
  margin-bottom: 1rem;
  text-align: center;
}

.typing-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10rem;
}

.main-options-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.typing-app-dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  width: 100%;
}

.typing-text {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  font-size: 2rem;
  color: var(--font-color);
  text-align: center;
  padding: 1rem;
  border-radius: var(--border-radius);
}

.key-pressed {
  font-size: 2rem;
  color: var(--font-color);
}

.back-button {
  text-align: center;
  color: var(--test-color);
  font-weight: var(--back-button-weight);
  font-size: 1rem;
}
